` <div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mb-5 mt-5">
                <div class="card-body">
                    <div class="list-group mb-1">
                        <a href="#" class="list-group-item list-group-item-action">
                            <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" class="rounded-circle float-start" style="height: 30px;" alt="...">
                            <h5 class="card-title">Username</h5>
                        </a>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <img src="https://phantom-marca.unidadeditorial.es/2ea6e12383f40dce693cb8c7d14081a3/resize/1320/f/jpg/assets/multimedia/imagenes/2022/12/10/16706269918207.jpg" class="card-img-bottom" alt="...">
                <div class="card-footer">
                    <a href="#" type="button" class="btn btn-success">Update</a>
                    <a href="#" type="button" class="btn btn-primary">Update</a>
                    <a href="#" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="list-group mb-1">
                        <a href="#" class="list-group-item list-group-item-action">
                            <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" class="rounded-circle float-start" style="height: 30px;" alt="...">
                            <h5 class="card-title">Username</h5>
                        </a>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <img src="https://www.tristatetechnology.com/tristate-website/blog/wp-content/uploads/2016/09/nodejs1.jpg" class="card-img-bottom" alt="...">
                <div class="card-footer">
                    <a href="#" type="button" class="btn btn-success">Open</a>
                    <a href="#" type="button" class="btn btn-primary">Update</a>
                    <a href="#" type="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>