<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="/diary/update/{{diary.id}}" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="mb-3">
                            <label for="text" class="form-label">Edit text</label>
                            <textarea class="form-control" id="text" name="text" rows="4">{{diary.text}}</textarea>
                        </div>
                        {{#if diary.imageUrl}}
                            <img src="{{diary.imageUrl}}" class="card-img-bottom" alt="diary image">
                        {{/if}}
                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>